@charset "UTF-8";
body {
  background-color: #5b0af1dc; }
  *, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

body {
  font-family: "Open Sans", "Tahoma", sans-serif; }

body {
  min-width: 320px;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  height: auto; }

.container {
  width: 320px;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  height: auto;
  background-color: #ffffff; }
  .container::before {
    display: none; }

@media (min-width: 788px) {
  body {
    min-width: 768px;
    font-size: 17px;
    background-color: #f9f9f9; }
  .container {
    width: 768px;
    margin: 0;
    margin: 0 auto;
    padding: 0;
    height: auto;
    background-color: #ffffff; }
    .container::before {
      display: none; } }

@media (min-width: 1270px) {
  body {
    min-width: 1250px; }
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #ffffff; }
    .container::before {
      display: block; } }

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 570px;
  width: 100%;
  background-color: #f9f9f9; }

.site-description {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  height: 370px;
  background-image: url(../img/hero-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border: none; }

.site-description__title {
  display: block;
  font-size: 25px;
  line-height: 30px;
  margin: 0 auto;
  padding: 0;
  padding-top: 75px;
  text-align: center;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0; }

.head-buttons-wrapper {
  margin-top: 0;
  width: 320px;
  height: 206px;
  background-color: #63d1bb;
  position: static;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
  background-color: transparent; }
  .head-buttons-wrapper *:hover .head-buttons-image {
    -webkit-filter: brightness(20%);
            filter: brightness(20%); }
  .head-buttons-wrapper *:hover .head-but {
    -webkit-filter: brightness(120%);
            filter: brightness(120%); }
  .head-buttons-wrapper *:active .head-buttons-image {
    -webkit-filter: brightness(10%);
            filter: brightness(10%); }
  .head-buttons-wrapper *:active .head-but {
    -webkit-filter: opacity(30%);
            filter: opacity(30%); }

.head-button__one {
  min-height: 103px;
  width: 100%;
  position: relative;
  background-color: #63d1bb; }

.head-buttons-image {
  position: absolute;
  top: 20px;
  right: 36px;
  -webkit-filter: brightness(100%);
          filter: brightness(100%); }

.head-button__two {
  min-height: 103px;
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #56c3b2; }

.head-but {
  display: block;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 19px;
  color: #fafafa;
  padding-left: 30px;
  line-height: 24px;
  padding-top: 30px;
  width: 100%;
  min-height: 103px; }

.container {
  position: relative; }
  .container::before {
    content: "";
    position: absolute;
    height: 6px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: url("../img/bg-zigzag-fill.svg") 50% 0%;
    background-size: cover;
    background-repeat: repeat-y;
    bottom: 0px;
    left: 0px;
    z-index: 123;
    height: 24px;
    top: -24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    -webkit-transform: none;
            transform: none;
    z-index: 66;
    width: 320px;
    background-color: transparent; }

@media (min-width: 788px) {
  .main-header {
    min-height: 835px;
    margin: 0 auto;
    background-color: #f9f9f9;
    max-width: 767px; }
  .site-description {
    min-height: 700px;
    width: 100%;
    background-color: white;
    background-image: url(../img/hero-desktop.png);
    border: none; }
  .site-description__title {
    display: block;
    margin: 0 auto;
    font-size: 43px;
    line-height: 50px;
    margin-top: 162px;
    padding-top: 0px;
    width: 500px; }
  .head-buttons-wrapper {
    margin-top: 0;
    width: 668px;
    height: 114px;
    background-color: transparent;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .head-buttons-wrapper::before {
      content: "";
      position: absolute;
      height: 6px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      background: url("../img/bg-zigzag-fill.svg") 50% 0%;
      background-size: cover;
      background-repeat: repeat-y;
      bottom: 0px;
      left: 0px;
      z-index: 123;
      height: 22px;
      bottom: -2px;
      right: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      -webkit-transform: none;
              transform: none;
      z-index: 22; }
    .head-buttons-wrapper .head-button__one:hover {
      top: -5px; }
    .head-buttons-wrapper .head-button__two:hover {
      top: -5px; } }

@media (min-width: 1270px) {
  .main-header {
    min-height: 835px;
    margin: 0 auto;
    background-color: #f9f9f9;
    max-width: 1250px; }
  .site-description {
    min-height: 700px;
    width: 100%;
    background-color: #f9f9f9;
    background-image: url(../img/hero-desktop.png); }
  .head-buttons-wrapper {
    width: 1050px;
    height: 119px;
    background-color: #ffffff; }
    .head-buttons-wrapper::before {
      content: "";
      position: absolute;
      height: 6px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      background: url("../img/bg-zigzag-fill.svg") 50% 0%;
      background-size: cover;
      background-repeat: repeat-y;
      bottom: 0px;
      left: 0px;
      z-index: 123;
      height: 24px;
      bottom: 0px;
      background-image: url("../img/bg-zigzag-fill.svg");
      -webkit-transform: none;
              transform: none;
      z-index: 22;
      width: 100%;
      display: none; } }

.container {
  position: relative; }
  .container::before {
    content: "";
    position: absolute;
    height: 6px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: url("../img/bg-zigzag-fill.svg") 50% 0%;
    background-size: cover;
    background-repeat: repeat-y;
    bottom: 0px;
    left: 0px;
    z-index: 123;
    height: 24px;
    top: -24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    -webkit-transform: none;
            transform: none;
    z-index: 66;
    width: 100%;
    background-color: transparent; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  position: relative;
  background-color: white;
  width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  padding: 0; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0; }

.main-nav__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 79px;
  background-color: white;
  border-bottom: 1px solid #ececec;
  margin: 0;
  padding: 0; }
  .main-nav__item:nth-child(1) {
    border: none; }
  .main-nav__item:hover {
    background-color: #fafdfa; }

.main-nav__link {
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #000000;
  margin-left: 75px;
  width: 100%;
  height: 100%; }
  .main-nav__link:hover {
    color: #8d8d8d; }
  .main-nav__link:active {
    color: #cacaca; }

.main-nav__logo {
  padding-top: 21px;
  padding-bottom: 21px;
  margin-left: 110px;
  width: 86px;
  height: 35px;
  box-sizing: content-box; }
  .main-nav__logo:hover {
    opacity: 0.7; }
  .main-nav__logo:active {
    opacity: 0.4; }

.button {
  height: 38px;
  width: 38px;
  position: absolute;
  top: 20px;
  right: 32px;
  background-color: transparent;
  cursor: pointer;
  border: none; }
  .button::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000000;
    right: 9px;
    top: 9px;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
            box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000; }

@media (max-width: 787px) {
  .main-nav--closed {
    z-index: 4; }
  .main-nav--closed .main-nav__item {
    display: none; }
  .main-nav__item.active {
    display: block;
    padding-top: 22px; }
    .main-nav__item.active:nth-child(1) {
      padding-top: 0px; }
  .main-nav--opened .main-nav__item {
    display: block;
    padding-top: 22px; }
  .main-nav--opened .button::before, .main-nav--opened .button::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 6px;
    width: 25px;
    height: 2px;
    background-color: #000000; }
  .main-nav--opened .button::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 2px; }
  .main-nav--opened .button::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 3px; }
  .main-nav__item.main-nav__item--mobile-closed {
    display: none; }
  .main-nav__item.main-nav__item--tablet-open {
    display: none; } }

.main-nav__icon--search {
  position: absolute;
  left: 30px;
  padding: 0;
  margin: 0;
  top: 264px; }

.main-nav__icon--shop {
  position: absolute;
  left: 30px;
  padding: 0;
  margin: 0;
  top: 342px; }

@media (min-width: 788px) {
  .main-nav {
    max-height: 88px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding: 0;
    background-color: white;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .main-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    max-width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-nav__link {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 90px; }
  .main-nav__item {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ececec;
    height: auto; }
    .main-nav__item:hover {
      background-color: transparent; }
    .main-nav__item:nth-child(1) {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      max-height: 88px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      padding: 0;
      padding-top: 22px;
      border-bottom: 1px solid #ececec;
      padding-left: 48px;
      padding-right: 210px;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec; }
      .main-nav__item:nth-child(1) .main-nav__logo {
        background-color: transparent; }
    .main-nav__item:nth-child(2) {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      background-color: transparent;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      padding: 0;
      margin-top: 24px;
      margin-right: 36px;
      margin-left: 50px;
      border: none; }
      .main-nav__item:nth-child(2) .main-nav__link {
        max-height: 30px;
        line-height: 24px;
        font-size: 15px;
        font-weight: bolder; }
    .main-nav__item:nth-child(3) {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
      background-color: transparent;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      padding: 0;
      margin-top: 24px;
      border: none; }
      .main-nav__item:nth-child(3) .main-nav__link {
        max-height: 30px;
        line-height: 24px;
        font-size: 15px; }
    .main-nav__item:nth-child(4) {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      min-width: 82px;
      border-right: 1px solid #ececec;
      max-height: 88px;
      margin: 0;
      padding: 0; }
      .main-nav__item:nth-child(4) .main-nav__link {
        background-color: white;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        max-height: 86px;
        padding: 0;
        padding-left: 15px;
        padding-top: 27px; }
    .main-nav__item:nth-child(5) {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      min-width: 312px;
      right: 0;
      max-height: 88px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      padding: 0;
      border-right: 1px solid #ececec; }
      .main-nav__item:nth-child(5) .main-nav__link {
        background-color: white;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 100%;
        padding: 0;
        padding-left: 86px;
        padding-top: 27px;
        max-height: 86px; }
    .main-nav__item:nth-child(6) {
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5;
      margin: 0 0 0 auto;
      background-color: transparent;
      border: none;
      padding-top: 24px;
      padding-right: 50px; }
  .main-nav__logo {
    margin: 0;
    padding: 0;
    width: 113px;
    height: 46px;
    padding-top: 0px; }
  .button {
    display: none; }
  .main-nav__span {
    display: none; }
  .main-nav__logo {
    margin: 0;
    padding: 0;
    width: 113px;
    height: 46px;
    padding-top: 0px; }
  .main-nav__item.main-nav__item--mobile-closed {
    display: none; }
  .main-nav__item.main-nav__item--tablet-open {
    display: block; } }

.main-nav__icon--search {
  display: none; }

.main-nav__icon--shop {
  display: none; }

@media (min-width: 1270px) {
  .main-nav {
    width: 1250px;
    margin: 0;
    padding: 0;
    height: 88px; }
  .main-nav__list {
    max-width: 1250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 88px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec; }
  .main-nav__item {
    display: block;
    margin: 0;
    padding: 0;
    height: auto; }
    .main-nav__item:nth-child(1) {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      max-height: 88px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      max-width: 300px;
      margin: 0;
      padding: 0;
      padding-top: 9px;
      padding-left: 77px;
      padding-right: 210px;
      border-right: 1px solid #ececec;
      border-left: none;
      border-bottom: none; }
      .main-nav__item:nth-child(1):hover {
        background-color: transparent; }
      .main-nav__item:nth-child(1) .main-nav__logo {
        background-color: transparent; }
    .main-nav__item:nth-child(2) {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      background-color: transparent;
      height: 88px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      padding: 0;
      padding-left: 50px;
      border-right: 1px solid #ececec;
      padding-right: 30px; }
      .main-nav__item:nth-child(2) .main-nav__link {
        max-height: 30px;
        line-height: 24px;
        font-size: 17px;
        font-weight: bolder;
        margin-top: 31px; }
    .main-nav__item:nth-child(3) {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      background-color: transparent;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none; }
      .main-nav__item:nth-child(3) .main-nav__link {
        max-height: 30px;
        line-height: 24px;
        font-size: 17px;
        background-color: transparent;
        margin-top: 31px; }
    .main-nav__item:nth-child(4) {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      border-right: 1px solid #ececec;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      padding: 0;
      padding-right: 15px;
      border-bottom: none; }
      .main-nav__item:nth-child(4):hover {
        background-color: transparent; }
      .main-nav__item:nth-child(4) .main-nav__link {
        height: auto;
        line-height: 24px;
        font-size: 17px;
        font-weight: bolder;
        margin-top: 31px;
        padding: 0; }
    .main-nav__item:nth-child(5) {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
      right: 0;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0;
      padding: 0;
      border-right: 1px solid #ececec;
      padding-right: 50px;
      border-bottom: none; }
      .main-nav__item:nth-child(5):hover {
        background-color: transparent; }
      .main-nav__item:nth-child(5) .main-nav__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: auto;
        line-height: 24px;
        font-size: 17px;
        font-weight: bolder;
        margin: 0 auto;
        margin-top: 31px;
        padding: 0; }
    .main-nav__item:nth-child(6) {
      -webkit-box-ordinal-group: 8;
          -ms-flex-order: 7;
              order: 7;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 113px;
      right: 50px; }
    .main-nav__item:nth-child(7) {
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5;
      position: absolute;
      top: 113px;
      left: 1px;
      background-color: transparent;
      border: none; }
    .main-nav__item:nth-child(8) {
      -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
              order: 6;
      position: absolute;
      top: 113px;
      left: 270px;
      background-color: transparent;
      border: none; }
  .navbar__menu-caption {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    margin-left: 48px; }
  .main-nav__logo {
    margin: 0;
    padding: 0;
    width: 149px;
    height: 72px;
    padding-top: 0px; }
  .main-nav__item.main-nav__item--tablet-open {
    display: block; }
  .main-nav__item.main-nav__item--mobile-closed {
    display: block; } }

.week-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 320px;
  position: relative;
  background-color: #ffffff; }
  .week-product::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 7px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: url("../img/bg-zigzag-line.svg") 50% 0%;
    background-size: cover;
    background-repeat: repeat-y;
    bottom: 0px;
    left: 0px;
    bottom: -4px;
    left: 0;
    padding: 0;
    margin: 0;
    -webkit-transform: none;
            transform: none;
    z-index: 44;
    background-image: url("../img/bg-zigzag-line.svg");
    width: 100%; }

.week-product__name {
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  width: 100%; }

.week-product__title {
  margin: 0;
  color: #000000;
  font-size: 25px;
  line-height: 30px; }

.week-product__title--cyan {
  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 3px; }

.week-product__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 255px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  background-color: white;
  padding: 0; }

.week-product__text {
  margin: 0;
  margin-bottom: 55px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  color: #444444; }

.week-product__properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: transparent;
  font-size: 15px;
  line-height: 24px; }

.week-product__properties--two {
  width: 160px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  background-color: transparent;
  white-space: nowrap; }

.week-product__properties-item {
  list-style: none;
  border-bottom: 1px solid #ececec;
  width: 100%;
  display: block; }

.week-product__properties-item-two {
  margin-right: auto; }

.week-product__picture {
  height: 315px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  padding: 0;
  background-color: rgba(2, 226, 21, 0.884); }

.week-product__picture-item {
  height: 315px;
  width: 260px; }

.week-product__buy {
  height: 100px;
  margin: 0 auto;
  width: 100%;
  padding: 0; }

.week-product__price {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold; }

.week-product__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  height: 52px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid; }
  .week-product__button:hover {
    background-color: #444444;
    color: #ffffff; }
  .week-product__button:active {
    color: #686868; }

@media (min-width: 788px) {
  .week-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 768px;
    background-color: #ffffff; }
    .week-product::before {
      content: "";
      position: absolute;
      width: 320px;
      height: 7px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      background: url("../img/bg-zigzag-line.svg") 50% 0%;
      background-size: cover;
      background-repeat: repeat-y;
      bottom: 0px;
      left: 0px;
      position: absolute;
      width: 768px;
      height: 15px;
      bottom: -7px;
      left: 0;
      padding: 0;
      margin: 0;
      -webkit-transform: none;
              transform: none;
      z-index: 45;
      background-image: url("../img/bg-zigzag-line.svg");
      width: 100%; }
  .week-product__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    height: auto;
    margin: 0 auto;
    margin-bottom: 55px;
    padding: 0;
    width: 100%; }
  .week-product__title {
    margin: 0;
    color: #000000;
    font-size: 43px;
    line-height: 50px; }
  .week-product__title--cyan {
    color: #63d1bb;
    display: block;
    width: 100px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    margin-top: 3px; }
  .week-product__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    height: 240px;
    margin-bottom: 30px;
    width: 280px;
    padding: 0; }
  .week-product__picture {
    height: 404px;
    margin: 0;
    margin-bottom: 30px;
    width: 333px;
    padding: 0; }
  .week-product__picture-item {
    height: 404px;
    width: 333px; }
  .week-product__buy {
    height: 100px;
    width: 293px;
    padding: 0;
    margin-left: 0;
    margin-top: -136px; }
  .week-product__price {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold; }
  .week-product__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
    height: 52px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: #444444;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid; } }

@media (min-width: 1270px) {
  .week-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding-left: 270px;
    padding-right: 100px;
    padding-top: 72px;
    padding-bottom: 40px;
    width: 1250px;
    background-color: #ffffff; }
    .week-product::before {
      content: "";
      position: absolute;
      width: 320px;
      height: 7px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      background: url("../img/bg-zigzag-line.svg") 50% 0%;
      background-size: cover;
      background-repeat: repeat-y;
      bottom: 0px;
      left: 0px;
      position: absolute;
      width: 1250px;
      height: 28px;
      bottom: 0px;
      left: 0;
      padding: 0;
      margin: 0;
      -webkit-transform: none;
              transform: none;
      z-index: 115;
      background-image: url("../img/bg-zigzag-line.svg"); }
  .week-product__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    position: relative;
    margin: 0;
    margin-top: 60px;
    white-space: nowrap;
    z-index: 3;
    padding: 0;
    width: 300px;
    max-height: 60px; }
  .week-product__title {
    margin: 0;
    color: #000000;
    font-size: 53px;
    line-height: 57px; }
  .week-product__title--cyan {
    color: #63d1bb;
    width: 100px;
    margin: 0;
    margin-top: 12px;
    white-space: normal;
    position: absolute;
    left: -150px;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase; }
  .week-product__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 240px;
    margin-bottom: 30px;
    width: 280px;
    padding: 0;
    margin-top: -500px; }
  .week-product__picture {
    height: 636px;
    margin: 0;
    margin-bottom: 30px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 525px;
    padding: 0; }
  .week-product__picture-item {
    height: 636px;
    width: 525px; }
  .week-product__buy {
    height: 100px;
    width: 293px;
    padding: 0;
    margin: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    top: 603px;
    left: auto; }
  .week-product__price {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold; }
  .week-product__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
    height: 52px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: #444444;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid; }
    .week-product__button:hover {
      background-color: #444444;
      color: #ffffff; }
    .week-product__button:active {
      color: #686868; } }

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 320px;
  position: relative;
  background-color: #ffffff; }

.about-us__item {
  min-width: 183px;
  height: auto;
  background-color: transparent;
  margin-bottom: 30px;
  padding: 0; }

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  color: #000000; }

.about-us__text {
  margin: 0;
  margin-top: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000000; }

.about-us__icon {
  margin: 0;
  margin-bottom: 30px; }

@media (min-width: 788px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 65px;
    padding-bottom: 80px;
    width: 768px;
    position: relative;
    background-color: #ffffff; }
  .about-us__title {
    font-size: 53px;
    line-height: 53px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
    width: 100%; }
  .about-us__item {
    min-width: 183px;
    height: auto;
    background-color: transparent;
    margin-bottom: 30px;
    padding: 0;
    width: 50%; }
  .about-us__item--one {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .about-us__item--two {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .about-us__item--three {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .about-us__item--four {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .about-us__item--five {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .about-us__item--six {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .about-us__icon {
    margin: 0;
    margin-bottom: 20px; } }

@media (min-width: 1270px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 275px;
    padding-right: 50px;
    padding-top: 65px;
    padding-bottom: 80px;
    width: 1250px;
    position: relative;
    background-color: #ffffff; }
  .about-us__item {
    min-width: 183px;
    height: auto;
    background-color: transparent;
    margin-bottom: 30px;
    padding: 0;
    width: 340px; } }

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  justify-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 320px;
  position: relative;
  background-color: white; }
  .feedback::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 7px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: url("../img/bg-zigzag-line.svg") 50% 0%;
    background-size: cover;
    background-repeat: repeat-y;
    bottom: 0px;
    left: 0px;
    bottom: -4px;
    left: 0;
    padding: 0;
    margin: 0;
    -webkit-transform: none;
            transform: none;
    z-index: 44; }

.feedback__title-text {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
  color: #000000; }

.feedback__text-is {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 30px; }

.feedback__author-name {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold; }

.feedback__author-nickname {
  font-weight: normal;
  line-height: 30px; }

.feedback__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
  background-color: transparent;
  -webkit-border-after: 1px solid #ffffff;
          border-block-end: 1px solid #ffffff; }

.feedback__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  height: 52px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 2px solid grey;
  border-color: #fbfbfb; }
  .feedback__button:hover {
    color: #ffffff;
    border: 1px solid #ac1111; }
  .feedback__button:active {
    color: #686868; }
  .feedback__button:nth-child(1) {
    border: 2px solid transparent; }
    .feedback__button:nth-child(1):hover {
      border: 2px solid black; }
  .feedback__button:nth-child(2) {
    border: 2px solid transparent; }
    .feedback__button:nth-child(2):hover {
      border: 2px solid black; }

.feedback__arrow {
  margin-top: 5px;
  background-color: transparent; }

.feedback__reply {
  background-color: red;
  height: auto;
  margin: 0;
  margin-top: 0; }

@media (min-width: 788px) {
  .feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 77px;
    width: 768px;
    position: relative;
    background: url(../img/review.png);
    background-size: 37%;
    background-repeat: no-repeat;
    background-color: #ffffff; }
    .feedback::before {
      content: "";
      position: absolute;
      width: 320px;
      height: 7px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      background: url("../img/bg-zigzag-line.svg") 50% 0%;
      background-size: cover;
      background-repeat: repeat-y;
      bottom: 0px;
      left: 0px;
      position: absolute;
      width: 768px;
      height: 15px;
      bottom: -7px;
      left: 0;
      padding: 0;
      margin: 0;
      -webkit-transform: none;
              transform: none;
      z-index: 45;
      background-image: url("../img/bg-zigzag-line.svg"); }
  .feedback__title {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
    .feedback__title .feedback__title-text {
      font-size: 53px;
      line-height: 53px; }
  .feedback__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .feedback__author {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .feedback__reply {
    background-color: transparent;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border: none; }
    .feedback__reply * {
      width: 167px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-color: #444444; }
  .feedback__buttons {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 167px;
    margin: 0; }
    .feedback__buttons * {
      border: none; }
  .feedback__button {
    background-color: transparent; } }

@media (min-width: 1270px) {
  .feedback {
    padding-left: 275px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 77px;
    min-height: 505px;
    width: 1250px;
    position: relative;
    background: url(../img/review.png);
    background-size: 27%;
    background-repeat: no-repeat;
    background-color: #ffffff; }
    .feedback::before {
      content: "";
      position: absolute;
      width: 320px;
      height: 7px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      background: url("../img/bg-zigzag-line.svg") 50% 0%;
      background-size: cover;
      background-repeat: repeat-y;
      bottom: 0px;
      left: 0px;
      position: absolute;
      width: 1250px;
      height: 28px;
      bottom: -7px;
      left: 0;
      padding: 0;
      margin: 0;
      -webkit-transform: none;
              transform: none;
      z-index: 45;
      background-image: url("../img/bg-zigzag-line.svg"); }
  .feedback__text-is {
    margin-top: 0;
    width: 780px;
    color: #444444;
    line-height: 30px;
    font-size: 17px; }
  .feedback__title {
    margin: 0;
    margin-bottom: 30px; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  justify-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 40px;
  height: auto;
  width: 320px;
  position: relative;
  background-color: #ffffff; }

.contact__text {
  margin: 0;
  padding: 0; }

.contacts__title {
  margin: 0;
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 30px; }

.contacts__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 30px;
  color: #444444; }

.contacts__item {
  width: 75%; }

.contacts__item--small {
  width: 25%;
  height: auto; }

.contacts__email {
  border-bottom: 1px solid #63d1bb; }

.contact__map {
  margin: 0;
  padding: 0;
  position: relative; }

.contact__google-map {
  margin: 0;
  margin-left: -30px;
  width: 320px;
  height: 457px;
  margin-bottom: 40px; }

.map-pin {
  position: absolute;
  top: 130px;
  left: 100px; }

.contact__map .week-product__button {
  margin: 0; }

@media (min-width: 788px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    justify-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    height: auto;
    width: 768px;
    position: relative;
    background-color: #ffffff; }
    .contacts::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      background: url("../img/flag.svg.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0;
      top: 32px;
      right: 70px; }
  .contact__text {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 0px; }
  .contacts__title {
    margin: 0;
    margin-bottom: 44px;
    font-size: 43px;
    line-height: 50px;
    color: #000000; }
  .contacts__list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    list-style-type: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    color: #444444; }
  .contacts__item {
    width: auto; }
  .contacts__item--small {
    width: auto;
    height: auto; }
  .contact__map {
    margin: 0;
    padding: 0;
    position: relative; }
  .contact__google-map {
    margin: 0;
    margin-left: -50px;
    width: 768px;
    height: 457px;
    margin-bottom: 55px; }
  .map-pin {
    position: absolute;
    top: 130px;
    left: 310px; }
  .contact__map .week-product__button {
    display: block;
    margin: 0;
    margin: 0 auto; } }

@media (min-width: 1270px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 270px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 105px;
    height: auto;
    width: 1250px;
    position: relative;
    background-color: #ffffff; }
    .contacts::before {
      display: none; }
  .contact__text {
    margin: 0;
    padding: 0;
    width: 30%;
    margin-bottom: 135px; }
  .contacts__title {
    margin: 0;
    margin-bottom: 44px;
    position: relative;
    padding: 0;
    font-size: 53px;
    line-height: 53px;
    color: #000000; }
    .contacts__title::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      background: url("../img/flag.svg.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0;
      top: 0;
      left: -110px; }
  .contacts__list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 240px;
    font-size: 15px;
    line-height: 30px;
    color: #444444; }
  .contacts__item {
    width: 160px;
    padding: 0; }
  .contacts__item--small {
    width: auto;
    height: auto; }
  .contact__map {
    margin: 0;
    padding: 0;
    position: relative;
    width: 525px;
    height: 427px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contact__google-map {
    margin: 0;
    width: 525px;
    height: 427px;
    margin-bottom: 55px; }
  .map-pin {
    position: absolute;
    top: 130px;
    left: 235px; }
  .contact__map .week-product__button {
    display: block;
    margin: 0;
    margin: 0 auto; }
  .contacts__email {
    border-bottom: 1px solid #63d1bb; }
  .contact__map .week-product__button {
    position: absolute;
    margin: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 230px;
    left: -340px; } }

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 160px;
  position: relative;
  background-color: #f2f2f2;
  width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0; }

.main-footer__logo {
  display: none;
  height: 80px;
  background-color: red;
  width: 100%; }

.main-footer__soc {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 260px;
  border-bottom: 1px solid #e5e5e5; }
  .main-footer__soc a {
    width: auto;
    height: 22px;
    display: block;
    margin: auto 0;
    margin-right: 40px; }
    .main-footer__soc a:nth-child(3) {
      margin-right: 0; }
  .main-footer__soc img {
    margin: 0 auto; }

.main-footer__develop {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 260px; }

.main-footer__psd-author {
  margin-right: 30px;
  font-size: 19px;
  line-height: 19px;
  font-weight: bold; }

@media (min-width: 788px) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 140px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    background-color: #f1f1f1;
    width: 768px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px; }
  .main-footer__logo {
    display: block;
    height: 80px;
    width: 185px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: transparent; }
    .main-footer__logo a {
      display: block;
      padding: 0;
      margin: 0 auto;
      margin-top: 21px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; }
  .main-footer__icon:hover {
    fill: #63d1bb; }
  .main-footer__logo-image {
    margin: 0 auto; }
  .main-footer__soc {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: auto;
    border-bottom: 1px solid #e5e5e5;
    border: none; }
    .main-footer__soc a {
      width: auto;
      height: 22px;
      display: block;
      margin: auto 0;
      margin-right: 40px; }
      .main-footer__soc a:nth-child(3) {
        margin-right: 0; }
    .main-footer__soc img {
      margin: 0 auto; }
  .main-footer__develop {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: auto;
    background-color: transparent;
    padding: 0; }
  .main-footer__psd-author {
    display: block;
    margin: 0;
    margin-right: 30px;
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
    color: #000000; } }

@media (min-width: 1270px) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 140px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    background-color: #f1f1f1;
    width: 1250px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px; } }

.main-header.main-header--white {
  position: relative;
  background-color: #f9f9f9;
  min-height: auto; }

.page-name {
  margin: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-top: 0;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 320px;
  height: 176px;
  border: none;
  background-color: #f1f1f1; }

.page-name__title {
  margin: 0;
  margin: auto auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 30px;
  font-weight: bold;
  color: #000000; }

.cont {
  margin: 0;
  padding: 0; }

.main-goods {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px; }

.main-goods__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 260px;
  min-height: 375px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ededed; }

.main-goods__picture {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  height: 195px;
  background-color: #e4e4e4;
  margin: 0; }

.main-goods__description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 178px;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  word-wrap: break-word; }
  .main-goods__description:hover {
    -webkit-box-shadow: 0px 9px 32px -13px #444444;
            box-shadow: 0px 9px 32px -13px #444444;
    border: none; }

.main-goods__one {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main-goods__name {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  background-color: transparent;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold; }

.main-goods__properties {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 30px; }

.main-two {
  margin: 0;
  position: relative;
  height: 74px;
  width: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ededed; }

.main-goods__price {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold; }

.main-goods__icon {
  position: absolute;
  top: 26px;
  left: 180px;
  width: 21px;
  height: 19px; }
  .main-goods__icon:hover path {
    fill: #63d1bb; }

.main-goods__process {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 260px;
  min-height: 375px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ededed; }

.main-goods__camera-picture {
  width: 32px;
  height: 22px;
  position: absolute;
  top: 15px;
  left: -60px; }

.process__title {
  width: auto;
  margin-left: 90px;
  font-weight: bold;
  position: relative;
  font-size: 17px;
  line-height: 24px; }

.process__picture {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  height: 150px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px; }

.process__photo {
  width: 258px;
  height: 150px;
  padding: 0; }

.process__description {
  margin: 0; }
  .process__description:hover {
    -webkit-box-shadow: 0px 16px 32px -13px #000000;
            box-shadow: 0px 16px 32px -13px #000000;
    border: none; }

.process__text {
  margin: 0;
  display: block;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 0;
  font-size: 13px;
  line-height: 30px; }

.process__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  height: 52px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid;
  display: block;
  width: 192px;
  margin: 0 auto;
  margin-bottom: 30px; }
  .process__button:hover {
    background-color: #444444;
    color: #ffffff; }
  .process__button:active {
    color: #686868; }

@media (min-width: 788px) {
  .page-name {
    width: 768px; }
  .main-goods {
    position: relative;
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0; }
    .main-goods::before {
      content: "";
      position: absolute;
      height: 6px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      background: url("../img/bg-zigzag-fill.svg") 50% 0%;
      background-size: cover;
      background-repeat: repeat-y;
      bottom: 0px;
      left: 0px;
      z-index: 123;
      height: 24px;
      top: -24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      -webkit-transform: none;
              transform: none;
      z-index: 120;
      width: 100%;
      background-color: transparent; }
  .main-goods__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 668px;
    min-height: 336px;
    margin-bottom: 30px; }
  .main-goods__camera-picture {
    width: 32px;
    height: 22px;
    position: absolute;
    top: 0px;
    left: -60px; }
  .main-goods__picture {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 334px;
    height: 334px;
    margin: 0; }
  .main-goods__photo {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 334px;
    height: 334px; }
  .main-goods__description {
    height: 334px;
    width: 100%;
    margin: 0; }
  .main-goods__one {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .main-goods__name {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    background-color: transparent;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold; }
  .main-goods__properties {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px; }
  .main-two {
    margin: 0;
    height: 74px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-goods__price {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold; }
  .main-goods__process {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 375px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ededed; }
  .process__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin-left: 90px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 20px;
    line-height: 24px; }
  .process__picture {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .process__photo {
    width: auto;
    height: auto;
    padding: 0; }
  .process__description {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .process__text {
    margin: 0;
    display: block;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .process__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
    height: 52px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: #444444;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid;
    display: block;
    width: 586px;
    margin: 0 auto;
    margin-bottom: 30px; }
  .main-goods__icon {
    position: absolute;
    top: 26px;
    left: 240px;
    width: 21px;
    height: 19px; } }

@media (min-width: 1270px) {
  .page-name {
    width: 1250px; }
  .main-goods {
    width: 1250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 130px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px; }
    .main-goods::before {
      display: none; }
  .page-name {
    height: 250px; }
  .main-goods__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: 318px;
    height: 660px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .main-goods__camera-picture {
    width: 32px;
    height: 22px;
    position: absolute;
    top: -55px;
    left: 0px; }
  .main-goods__picture {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 316px;
    height: 462px;
    background-color: blue;
    margin: 0; }
  .main-goods__photo {
    width: 316px;
    height: 462px; }
  .main-goods__description {
    height: 193px;
    width: 100%;
    margin: 0; }
  .main-goods__process {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 457px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ededed; }
  .process__title {
    width: 150px;
    height: 60px;
    margin: 0;
    margin-top: 100px; }
  .process__picture {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 682px;
    height: 455px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 455px; }
  .process__description {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 280px;
    height: 210px;
    margin: 0; }
    .process__description:hover {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .process__button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
    height: 52px;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: #444444;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid;
    display: block;
    width: 230px;
    margin: 0;
    margin-bottom: 30px; }
  .process__text {
    margin-left: 0; }
  .page-name {
    padding-top: 0; }
  .page-name__title {
    margin: 0;
    margin: auto auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    color: #000000; }
  .main-goods__icon {
    position: absolute;
    top: 26px;
    left: 230px;
    width: 21px;
    height: 19px; }
  .container {
    background-color: #ffffff; } }

.form-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 320px;
  position: relative;
  background-color: #ffffff; }

.form-data_title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  background-color: transparent; }

.form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: none;
  border-top: 1px solid #63d1bb;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  margin: 0; }

.icon-phone {
  background-image: url(../img/icon-phone.svg);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat; }
  .icon-phone:hover {
    background-image: url(../img/icon-phone--cyan.svg); }

.icon-mail {
  background-image: url(../img/icon-mail.svg);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat; }
  .icon-mail:hover {
    background-image: url(../img/icon-mail--cyan.svg); }

.form__legend {
  padding-right: 28px;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  font-weight: bold;
  text-transform: uppercase; }

.form__label {
  margin-bottom: 20px; }

.checkbox {
  display: none; }

.checkbox-custom {
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  position: relative;
  background-color: transparent;
  border-radius: none;
  margin-bottom: 22px; }
  .checkbox-custom:hover {
    border: 2px solid #63d1bb; }

.checkbox-custom,
.label-span {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent; }

.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  /* right: 2px; */
  /* bottom: 2px; */
  left: 15px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #000000; }

.checkbox:checked + .checkbox-custom::after {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  /* right: 2px; */
  /* bottom: 2px; */
  left: 9px;
  width: 12px;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #000000; }

/* Скрываем реальный чекбокс */
.radio {
  display: none; }

/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.radio-custom {
  position: relative;
  /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
  width: 44px;
  /* Обязательно задаем ширину */
  height: 44px;
  /* Обязательно задаем высоту */
  border: 2px solid #444444;
  border-radius: 3px;
  background-color: transparent;
  border-radius: 50%; }
  .radio-custom:hover {
    border: 2px solid #63d1bb; }
  .radio-custom:active {
    border: 2px solid grey; }

/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.radio-custom,
.label {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 17px; }

.label {
  width: 150px;
  margin-left: 24px; }

/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.radio:checked + .radio-custom::before {
  content: "";
  /* Добавляем наш псевдоэлемент */
  display: block;
  /* Делаем его блочным элементом */
  position: absolute;
  /* Позиционируем его абсолютным образом */
  /* Задаем расстояние от верхней, правой, нижней и левой границы */
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  background-color: #63d1bb;
  /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
  border-radius: 50%; }

.textarea {
  display: inline-block;
  /* margin-top: 30px; */
  width: 100%;
  height: 52px;
  font-size: 19px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid black;
  color: black;
  outline: none; }

.textarea:hover {
  border: none;
  border-bottom: 2px solid cyan; }

.textarea:active {
  border: none;
  border-bottom: 2px solid cyan;
  color: #000000; }

.form__title-input {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  font-weight: bold; }

.form__note {
  display: block;
  margin-bottom: 20px; }

.form__textarea {
  width: 100%;
  height: 140px;
  padding-left: 20px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  border: 2px solid #444444;
  color: #000000;
  font-size: 17px;
  line-height: 18px; }

.form__submit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  height: 52px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid; }
  .form__submit:hover {
    background-color: #444444;
    color: #ffffff; }

@media (min-width: 788px) {
  .checkbox-custom {
    margin-bottom: 0; }
  .label {
    margin-bottom: 0; }
  .form-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
    padding-bottom: 30px;
    width: 768px;
    position: relative;
    background-color: #ffffff; }
    .form-data::before {
      content: "";
      position: absolute;
      height: 6px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      background: url("../img/bg-zigzag-fill.svg") 50% 0%;
      background-size: cover;
      background-repeat: repeat-y;
      bottom: 0px;
      left: 0px;
      z-index: 123;
      height: 24px;
      top: -24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      -webkit-transform: none;
              transform: none;
      z-index: 120;
      width: 100%;
      background-color: transparent; }
  .form-data_title {
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    margin-left: 50px;
    font-size: 17px;
    line-height: 30px;
    background-color: transparent; }
  .form__fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    padding: 0;
    padding-top: 26px;
    padding-bottom: 26px;
    margin: 0;
    position: relative;
    width: 100%; }
  .form__legend {
    padding-right: 28px;
    font-size: 17px;
    line-height: 17px;
    color: #63d1bb;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    left: 50px; }
  .form__label {
    margin-bottom: 20px;
    margin-left: 220px; }
  .form__fieldset--grey {
    background-color: #f1f1f1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 0;
    min-height: 128px; }
  .form__fieldset--grey .flex-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 217px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: transparent;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .form__fieldset--grey .form__label {
    display: inline-block;
    width: 230px;
    background-color: transparent;
    margin: 0;
    margin-bottom: 0;
    margin-bottom: 25px; }
  .textarea {
    margin-right: 50px;
    width: 100%;
    height: 52px;
    font-size: 19px;
    line-height: 18px;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    outline: none;
    background-color: transparent; }
  .form__title-input {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
    margin-left: 217px;
    background-color: transparent;
    width: auto;
    margin-right: 25px;
    height: 18px;
    -ms-flex-item-align: center;
        align-self: center; }
  .form__note {
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 217px; }
  .form__textarea {
    height: 140px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0;
    margin-right: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 217px;
    border: 2px solid #444444;
    color: #000000;
    font-size: 17px;
    line-height: 18px; }
  .form__submit {
    margin-left: 217px; }
  .full-name {
    display: block; }
  .full-name .textarea {
    margin-right: 50px;
    width: 375px;
    right: auto;
    position: relative;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 1270px) {
  .form-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
    padding-bottom: 30px;
    width: 1250px;
    position: relative;
    background-color: #ffffff; }
    .form-data::before {
      display: none; }
  .form-data_title {
    margin-bottom: 60px;
    margin-left: 225px;
    margin-right: 225px; }
  .form__fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    padding: 0;
    padding-top: 26px;
    padding-bottom: 26px;
    margin: 0;
    position: relative;
    width: 100%; }
  .flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-left: 225px;
    padding-right: 225px;
    margin-bottom: 25px; }
  .form__legend {
    padding-right: 28px;
    font-size: 17px;
    line-height: 17px;
    color: #63d1bb;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 40px;
    left: 50px; }
  .form__label {
    margin-bottom: 25px;
    margin-left: 220px;
    margin-right: 90px;
    width: auto; }
  .form__fieldset--grey {
    background-color: #f1f1f1;
    display: block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
    padding-bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .form__fieldset--grey .form__label {
    width: 190px;
    background-color: transparent;
    margin: 0;
    margin-bottom: 0;
    margin-right: 70px; }
    .form__fieldset--grey .form__label:nth-child(4), .form__fieldset--grey .form__label:nth-child(5), .form__fieldset--grey .form__label:nth-child(6) {
      margin-left: 0px;
      margin-right: 70px;
      margin-top: 25px; }
  .textarea {
    margin-right: 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 52px;
    font-size: 19px;
    line-height: 18px;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    outline: none;
    background-color: transparent; }
  .label {
    width: auto; }
  .form__title-input {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
    margin-left: 0;
    background-color: transparent;
    width: auto;
    margin-right: 25px;
    height: 18px;
    -ms-flex-item-align: center;
        align-self: center; }
  .form__textarea {
    height: 140px;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0;
    margin-right: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #444444;
    color: #000000;
    font-size: 17px;
    line-height: 18px; } }
