body {
    min-width: 320px;
    background-color: #f9f9f9;
    margin:0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
    color: $grey;
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-style: normal;
    height: auto; 
}
.container {
    width: 320px;
    margin: 0;
    margin: 0 auto;
    padding: 0;
    height: auto;
    background-color: #ffffff;
    &::before {
        display: none;
    }
}

@media (min-width: 788px) {
    body {
        min-width: 768px;
        font-size: 17px;
        background-color: #f9f9f9;
    }   
    .container {
        width: 768px;
        margin: 0;
        margin: 0 auto;
        padding: 0;
        height: auto;
        background-color: #ffffff;
        &::before {
            display: none;
        }
    }
}
@media (min-width: 1270px) {
    body {
        min-width: 1250px;
    }
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
        background-color: #ffffff;
        &::before {
            display: block;
        }
    }
    
}