@mixin zigzag {
    content: "";
    position: absolute;
    // width: 100%;
    height: 6px;
    transform: rotate(180deg);
    background: url("../../img/bg-zigzag-fill.svg") 50% 0%;
    background-size: cover;
    background-repeat: repeat-y; 
    bottom: 0px;
    left: 0px;
    z-index: 123;
  }

@mixin small-zigzag {
  content: "";
  position: absolute;
  width: 320px;
  height: 7px;
  transform: rotate(180deg);
  background: url("../../img/bg-zigzag-line.svg") 50% 0%;
  background-size: cover;
  background-repeat: repeat-y; 
  bottom: 0px;
  left: 0px;
}

@mixin button {
  box-sizing: border-box;
  
  width: 260px;
  height: 52px;

  cursor: pointer;
  border: none;

  background-color: #ffffff;
  color: $grey;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid
}

@mixin flag {
  content: "";
  position: absolute;
  width: 47px;
  height: 81px;
  // transform: rotate(180deg);
  background: url("../../img/flag.svg.png");
  background-size: cover;
  background-repeat: no-repeat; 
  margin: 0;
}

