.about-us {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    // min-height: 525px;
    width: 320px;
    position: relative;

    background-color: #ffffff;
}
.about-us__item {
    min-width: 183px;
    height: auto;
    background-color: transparent;
    margin-bottom: 30px;
    padding: 0;
    // box-sizing: border-box;
}
.about-us__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    // text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    color: #000000;
}
.about-us__text {
    margin: 0;
    margin-top:0;
    padding: 0;

    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
}
.about-us__icon {
    margin: 0;
    margin-bottom: 30px;
}

@media (min-width: 788px) {
    .about-us {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        box-sizing: border-box;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 65px;
        padding-bottom: 80px;
        // min-height: 525px;
        width: 768px;
        position: relative;
    
        background-color: #ffffff;
    }
    .about-us__title {
        font-size: 53px;
        line-height: 53px;
        font-weight: bold;
        // text-transform: uppercase;
        margin: 0;
        margin-bottom: 30px;
        width: 100%;
    }
    .about-us__item {
        min-width: 183px;
        height: auto;
        background-color: transparent;
        margin-bottom: 30px;
        padding: 0;
        width: 50%;
    }
    .about-us__item--one {
        order: 0;
    }
    .about-us__item--two {
        order: 2;
    }
    .about-us__item--three {
        order: 4;
    }
    .about-us__item--four {
        order: 1;
    }
    .about-us__item--five {
        order: 3;
    }
    .about-us__item--six {
        order: 5;
    }
    .about-us__icon {
        margin: 0;
        margin-bottom: 20px;
    }
}


@media (min-width: 1270px) {
    .about-us {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        box-sizing: border-box;
        padding-left: 275px;
        padding-right: 50px;
        padding-top: 65px;
        padding-bottom: 80px;
        // min-height: 525px;
        width: 1250px;
        position: relative;
    
        background-color: #ffffff;
    }
    .about-us__item {
        min-width: 183px;
        height: auto;
        background-color: transparent;
        margin-bottom: 30px;
        padding: 0;
        width: 340px;
    }
}
