.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    height: auto;
    width: 320px;
    position: relative;

    background-color: #ffffff;
}
.contact__text {
    margin: 0;
    padding: 0;
    // margin-bottom: 42px;
}
.contacts__title {
    margin: 0;
    margin-bottom: 44px;

    font-size: 18px;
    line-height: 30px;
}
.contacts__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 40px;
    // height: 300px;

    font-size: 15px;
    line-height: 30px;
    color: $grey;
    // background-color: darkgreen;
}

.contacts__item {
    // margin-right: 0;
    // background-color: rgb(25, 170, 25);
    width: 75%;
}
.contacts__item--small {
    // margin-right: 40px;
    // background-color: red;
    width: 25%;
    height: auto;
}
.contacts__email {
    border-bottom: 1px solid $cyan;
}
.contact__map {
    margin: 0;
    padding: 0;
    position: relative;
}
.contact__google-map {
    margin: 0;
    margin-left: -30px;
    width:320px;
    height:457px;
    margin-bottom: 40px;
}
.map-pin {
    position: absolute;
    top: 130px;
    left: 100px;
}
.contact__map .week-product__button {
    margin: 0;
}

@media (min-width: 788px) {
    .contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    // min-height: 600px;
    height: auto;
    width: 768px;
    position: relative;

    background-color: #ffffff;
    &::before {
        @include flag();
        top:32px;
        // left:640px;
        right:70px;
    }
    }
    .contact__text {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 0px;
    }
    .contacts__title {
        margin: 0;
        margin-bottom: 44px;
    
        font-size: 43px;
        line-height: 50px;
        color: #000000;
    }
    .contacts__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style-type: none;
        justify-content: space-between;
        position: relative;
        // height: 300px;
        width: 100%;
    
        font-size: 15px;
        line-height: 30px;
        color: $grey;
    }
    .contacts__item {
        // margin-right: 0;
        // background-color: rgb(25, 170, 25);
        width: auto;
        // margin-block-end: 40px;
    }
    .contacts__item--small {
        // margin-right: 40px;
        // background-color: red;
        width: auto;
        height: auto;
    }
    .contact__map {
        margin: 0;
        padding: 0;
        position: relative;
    }
    .contact__google-map {
        margin: 0;
        margin-left: -50px;
        width:768px;
        height:457px;
        margin-bottom: 55px;
    }
    .map-pin {
        position: absolute;
        top: 130px;
        left: 310px;
    }
    .contact__map .week-product__button {
        display: block;
        margin: 0;
        margin: 0 auto;
    }
}
 
@media (min-width: 1270px) {
    .contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // align-content: flex-end;
        align-items: flex-end;
        margin: 0 auto;
        box-sizing: border-box;
        padding-left: 270px;
        padding-right: 100px;
        padding-top: 30px;
        padding-bottom: 105px;
        // min-height: 600px;
        height: auto;
        width: 1250px;
        position: relative;
    
        background-color: #ffffff;
        &::before {
            display: none;
        }
        
    }
        .contact__text {
            margin: 0;
            padding: 0;
            width: 30%;
            margin-bottom: 135px;
        }
        .contacts__title {
            margin: 0;
            margin-bottom: 44px;
            position: relative;
            padding: 0;
        
            font-size: 53px;
            line-height: 53px;
            color: #000000;
            &::before {
                @include flag();
                top:0;
                // left:640px;
                left:-110px;
            }
        }
        .contacts__list {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: space-between;
            position: relative;
            // height: 300px;
            width: 240px;
        
            font-size: 15px;
            line-height: 30px;
            color: $grey;
        }
        .contacts__item {
            // margin-right: 0;
            // background-color: rgb(25, 170, 25);
            width: 160px;
            padding: 0;
            // margin-block-end: 40px;
        }
        .contacts__item--small {
            // margin-right: 30px;
            // background-color: red;
            width: auto;
            height: auto;
        }
        .contact__map {
            margin: 0;
            padding: 0;
            position: relative;
            width: 525px;
            height: 427px;
            display: flex;
        }
        .contact__google-map {
            margin: 0;
            // margin-left: -50px;
            width: 525px;
            height: 427px;
            margin-bottom: 55px;
        }
        .map-pin {
            position: absolute;
            top: 130px;
            left: 235px;
        }
        .contact__map .week-product__button {
            display: block;
            margin: 0;
            margin: 0 auto;
        }
        .contacts__email {
            border-bottom: 1px solid $cyan;
        }
        .contact__map .week-product__button {
            position: absolute;
            margin: 0;
            bottom: 0;
            box-sizing: border-box;
            width: 230px;
            left: -340px;
            // margin: 0 auto;
        }
}