.feedback {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    // min-height: 525px;
    width: 320px;
    position: relative;

    background-color: white;
    &::before {
        @include small-zigzag;
        // width: 100%;
        bottom: -4px;
        left: 0;
        padding: 0;
        margin: 0;
        transform: none;
        z-index: 44;
        // background-image: url("../../img/zigzag-line-desktop.png");
    }
}

.feedback__title-text {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    // text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    color: #000000;
}
.feedback__text-is {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    font-size: 15px;
    line-height: 30px;
}
.feedback__author-name {
    margin: 0;
    padding: 0;

    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
}
.feedback__author-nickname {
    font-weight: normal;
    line-height: 30px;
}
.feedback__buttons {
    display: flex;
    height: auto;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    background-color: transparent;
    border-block-end: 1px solid #ffffff;
}

.feedback__button {
    @include button();
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 2px solid grey;
    border-color: #fbfbfb;
    &:hover {
        color: #ffffff;
        border: 1px solid transparent;
    }
    &:active {
        color: #686868;
    }
    &:nth-child(1) {
        // border-right: 0;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid rgb(0, 0, 0);
        }
    }
    &:nth-child(2) {
        border: 2px solid transparent;
        &:hover {
            border: 2px solid rgb(0, 0, 0);
        }
    }
}
.feedback__arrow {
    margin-top: 5px;
    background-color: transparent;
}
.feedback__reply {
    background-color: red;
    height: auto;
    margin: 0;
    margin-top: 0;
}

@media (min-width: 788px) {
    .feedback {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 77px;
    // min-height: 525px;
    width: 768px;
    position: relative;
    background: url(../../img/review.png);
    background-size: 37%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    &::before {
        @include small-zigzag;
        position: absolute;
        width: 768px;
        height: 15px;
        bottom: -7px;
        left: 0;
        padding: 0;
        margin: 0;
        transform: none;
        z-index: 45;
        background-image: url("../../img/bg-zigzag-line.svg");
    }
    }
    .feedback__title {
        order: 0;
        & .feedback__title-text {
            font-size: 53px;
            line-height: 53px;
        }
    }
    .feedback__text {
        order: 2;
    }
    .feedback__text-is {
        // color: #444444;
    }
    .feedback__author {
        order: 3;
    }
    .feedback__reply {
        background-color: transparent;
        order: 1;
        border: none;
        & * {
            width: 167px;
            box-sizing: border-box;
            border-color: #444444;
        }
        
    }
    .feedback__buttons {
        order: 4;
        width: 167px;
        margin: 0;
        & * {
            border: 2px solid transparent;
        }
    }
    .feedback__button {
        background-color: transparent;
    }
}

@media (min-width: 1270px) {
    .feedback {
        padding-left: 275px;
        padding-right: 100px;
        padding-top: 80px;
        padding-bottom: 77px;
        min-height: 505px;
        width: 1250px;
        position: relative;
        background: url(../../img/review.png);
        background-size: 27%;
        background-repeat: no-repeat;
        background-color: #ffffff;
        &::before {
            @include small-zigzag;
            position: absolute;
            width: 1250px;
            height: 28px;
            bottom: -7px;
            left: 0;
            padding: 0;
            margin: 0;
            transform: none;
            z-index: 45;
            background-image: url("../../img/bg-zigzag-line.svg");
        }
    }
    .feedback__text-is {
        margin-top: 0;
        width: 780px;
        color:#444444;
        line-height: 30px;
        font-size: 17px;
    }
    .feedback__title {
        margin: 0;
        margin-bottom: 30px;
    }
}