.form-data {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    // min-height: 525px;
    width: 320px;
    position: relative;

    background-color: #ffffff;
    
}
.form-data_title {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
}
.form__fieldset {
    display: flex;
    position: relative;
    border: none;
    border-top: 1px solid $cyan;
    padding: 0;
    padding-top: 26px;
    padding-bottom: 26px;
    margin: 0;
}
.icon-phone {
    background-image: url(../../img/icon-phone.svg);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    &:hover {
        background-image: url(../../img/icon-phone--cyan.svg)
    }
}
.icon-mail {
    background-image: url(../../img/icon-mail.svg);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    &:hover {
        background-image: url(../../img/icon-mail--cyan.svg)
    }
}
.form__legend {
    // background-color: chocolate;
    padding-right: 28px;
    
    font-size: 17px;
    line-height: 17px;
    color: $cyan;
    font-weight: bold;
    text-transform: uppercase;
}

.form__label {
    margin-bottom: 20px;
}

// Стилизация ч.checkbox-customекбокса

.checkbox {
	display: none;
}
.checkbox-custom {
	width: 40px;
	height: 40px;
	border: 2px solid rgb(68, 68, 68);
    position: relative;
    background-color: transparent;
    border-radius: none;
    margin-bottom: 22px;
    &:hover {
        border: 2px solid $cyan; 
    }
}
.checkbox-custom,
.label-span {
	display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    // margin-left: 20px
}
.checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 20px;
	/* right: 2px; */
	/* bottom: 2px; */
    left: 15px;
    width: 20px;
    height: 3px;
    transform: rotate(-45deg);
    background: #000000;
}
.checkbox:checked + .checkbox-custom::after, {
    content: "";
	display: block;
	position: absolute;
	top: 22px;
	/* right: 2px; */
	/* bottom: 2px; */
    left: 9px;
    width: 12px;
    height: 3px;
    transform: rotate(45deg);
    background: #000000;
}

// Стилизация радио-кнопки

/* Скрываем реальный чекбокс */
.radio {
	display: none;
}
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.radio-custom {
	position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
	width: 44px;             /* Обязательно задаем ширину */
	height: 44px;            /* Обязательно задаем высоту */
	border: 2px solid rgb(68, 68, 68);
    border-radius: 3px;
    background-color: transparent;
    border-radius: 50%;
    &:hover {
        border: 2px solid $cyan;
    }
    &:active {
        border: 2px solid grey; 
    }
}
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.radio-custom,
.label {
	display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 17px;

}
.label {
    width: 150px;
    margin-left: 24px;
}
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.radio:checked + .radio-custom::before {
	content: "";             /* Добавляем наш псевдоэлемент */
	display: block;			 /* Делаем его блочным элементом */
	position: absolute;      /* Позиционируем его абсолютным образом */
	/* Задаем расстояние от верхней, правой, нижней и левой границы */
	top: 25%;
	right: 25%;
	bottom: 25%;
	left: 25%;
	background-color: $cyan;     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 50%;
}

.textarea {
    display: inline-block;
    /* margin-top: 30px; */
    // margin-left: 25px;
    width: 100%;
    height: 52px;
    font-size: 19px;
    line-height: 18px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    // padding-left: 18px;
    color: rgb(0, 0, 0);
    outline: none;
}

.textarea:hover {
    border: none;
    border-bottom: 2px solid cyan;
}
.textarea:active {
    border: none;
    border-bottom: 2px solid cyan;
    color: #000000;
}
.form__title-input {

    font-size: 17px;
    line-height: 18px;
    color: #000000;
    font-weight: bold;
}
.form__note {
    display: block;
    margin-bottom: 20px;
}
.form__textarea {
    width: 100%;
    height: 140px;
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 20px;

    border: 2px solid #444444;
    color: #000000;
    font-size: 17px;
    line-height: 18px;   
}

.form__submit {
    @include button;
    &:hover {
        background-color: #444444;
        color: #ffffff;
    }
}

@media (min-width: 788px) {
    .checkbox-custom {
        margin-bottom: 0;
    }
    .label {
        margin-bottom: 0;
    }
    .form-data {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
        padding-top: 80px;
        padding-bottom: 30px;
        // min-height: 525px;
        width: 768px;
        position: relative;
    
        background-color: #ffffff;
        &::before {
            @include zigzag;
            height: 24px;
            top: -24px;
            
            // bottom: 500px;
            background-image: url("../../img/bg-zigzag-fill.svg");
            transform: none;
            z-index: 120;
            width: 100%;
    
            background-color: transparent;
        }
    }
    .form-data_title {
        padding: 0;
        margin: 0;
        margin-bottom: 60px;
        margin-left: 50px;
    
        font-size: 17px;
        line-height: 30px;
        background-color: transparent;
    }
    .form__fieldset {
        display: flex;
        flex-direction: row;
        border: none;
        padding: 0;
        padding-top: 26px;
        padding-bottom: 26px;
        margin: 0;
        position: relative;
        width: 100%;
    }
    .form__legend {
        // background-color: chocolate;
        padding-right: 28px;
        
        font-size: 17px;
        line-height: 17px;
        color: $cyan;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 40px;
        left: 50px;
    }
    .form__label {
        margin-bottom: 20px;
        margin-left: 220px;
    }
    .form__fieldset--grey {
        background-color: #f1f1f1;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        // padding-left: 217px;
        box-sizing: border-box;
        padding-bottom: 0;
        min-height: 128px;
    }
    .form__fieldset--grey .flex-wrapper {
        flex-wrap: wrap;
        padding-left:217px;
        justify-content: flex-start;
    }
    .flex-wrapper {
        display: flex;
        position: relative;
        background-color: transparent;
        align-content: flex-end;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }
    .form__fieldset--grey .form__label {
        display: inline-block;
        width: 230px;
        background-color: transparent;
        margin:0;
        margin-bottom: 0;
        margin-bottom: 25px;
        
        // &:nth-child(5),
        // &:nth-child(6),
        // &:nth-child(7) {
        //     // background-color: blue;
        //     margin-left: 0px;
        // }
    }
    .textarea {
        // position: relative;
        // margin-left: auto; 
        margin-right: 50px;
        width: 100%;
        height: 52px;
        font-size: 19px;
        line-height: 18px;
        border: none;
        border-bottom: 2px solid rgb(0, 0, 0);
        // padding-left: 18px;
        color: rgb(0, 0, 0);
        outline: none;
        background-color: transparent;
    }
    
    .form__title-input {
        font-size: 17px;
        line-height: 18px;
        color: #000000;
        font-weight: bold;
        margin-left: 217px;
        background-color: transparent;
        width: auto;
        margin-right: 25px;
        height: 18px;
        align-self: center;
    }
    .form__note {
        margin-bottom: 20px;
        margin-right: 50px;
        margin-left: 217px;
    }
    .form__textarea {
        // position: relative;
        height: 140px;
        padding-left: 20px;
        padding-top: 20px;
        margin: 0;
        margin-right: 50px;
        box-sizing: border-box;
        margin-bottom: 20px;
        margin-left: 217px;
        // width: 100%;
    
        border: 2px solid #444444;
        color: #000000;
        font-size: 17px;
        line-height: 18px;   
    }
    
    .form__submit {
     margin-left: 217px;
    }
    .full-name {
        display: block;
    }
    .full-name .textarea {
        margin-right: 50px;
        width: 375px;
        right: auto;
        position: relative;
        float: none;
        display: flex;
    }
}

@media (min-width: 1270px) {
    .form-data {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
        padding-top: 80px;
        padding-bottom: 30px;
        // min-height: 525px;
        width: 1250px;
        position: relative;
    
        background-color: #ffffff;
        &::before {
            display: none;
        }
    }
    .form-data_title {
        margin-bottom: 60px;
        margin-left: 225px;
        margin-right: 225px;
    }
    .form__fieldset {
        display: flex;
        flex-direction: row;
        border: none;
        padding: 0;
        padding-top: 26px;
        padding-bottom: 26px;
        margin: 0;
        position: relative;
        width: 100%;
    }
    .flex-wrapper {
        display: flex;
        background-color: transparent;
        // align-content: flex-end;
        flex-wrap: nowrap;
        padding-left: 225px;
        padding-right: 225px;
        margin-bottom: 25px;
    }
    .form__legend {
        // background-color: chocolate;
        padding-right: 28px;
        
        font-size: 17px;
        line-height: 17px;
        color: $cyan;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 40px;
        left: 50px;
    }
    .form__label {
        margin-bottom: 25px;
        margin-left: 220px;
        margin-right: 90px;
        width: auto;
    }
    .form__fieldset--grey {
        background-color: #f1f1f1;
        display: block;
        flex-wrap: nowrap;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 0;
        // padding-left: 217px;
        box-sizing: border-box;
    }
    .form__fieldset--grey .form__label {
        width: 190px;
        background-color: transparent;
        margin:0;
        margin-bottom: 0;
        margin-right: 70px;
        
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            // background-color: blue;
            margin-left: 0px;
            margin-right: 70px;
            margin-top: 25px;
        }
    }
    .textarea {
        margin-right: 0px;
        width: 100%;
        box-sizing: border-box;
        height: 52px;
        font-size: 19px;
        line-height: 18px;
        border: none;
        border-bottom: 2px solid rgb(0, 0, 0);
        // padding-left: 18px;
        color: rgb(0, 0, 0);
        outline: none;
        background-color: transparent;
    }
    .label {
        width: auto;
    }
    .form__title-input {
        font-size: 17px;
        line-height: 18px;
        color: #000000;
        font-weight: bold;
        margin-left: 0;
        background-color: transparent;
        width: auto;
        margin-right: 25px;
        height: 18px;
        align-self: center;
    }
    .form__textarea {
        // position: relative;
        height: 140px;
        padding-left: 20px;
        padding-top: 20px;
        margin: 0;
        margin-right: 0;
        box-sizing: border-box;
        margin-bottom: 20px;
        margin-left: 0;
        width: 100%;
        box-sizing: border-box;
    
        border: 2px solid #444444;
        color: #000000;
        font-size: 17px;
        line-height: 18px;   
    }
}