.main-header {
    display: flex;
    flex-flow: column;
    position: relative;
    align-content: space-between;
    justify-content: flex-start;
    min-height: 570px;
    width: 100%;
    background-color: #f9f9f9;
    // border-bottom: 1px solid #ececec;
}

.site-description {
    margin: 0 auto;
    padding: 0;
    width: 320px;
    height: 370px;
    background-image: url(../../img/hero-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border: none;
}

.site-description__title {
    display: block;
    font-size: 25px;
    line-height: 30px;
    margin: 0 auto;
    padding: 0;
    padding-top: 75px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0;
}


.head-buttons-wrapper {
    margin-top: 0;
    width: 320px;
    height: 206px;
    background-color: $cyan;
    position: static;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: transparent;
    & *:hover {
        .head-buttons-image {
            filter: brightness(20%);
        }
        .head-but {
            // background-color: red;
            filter: brightness(120%);
            
        }
    }
    & *:active {
        .head-buttons-image {
            filter: brightness(10%);
        }
        .head-but {
            filter: opacity(30%);
        }
    }
}

.head-button__one {
    min-height: 103px;
    width: 100%;
    position: relative;

    background-color: $cyan; 
}


.head-buttons-image {
    position: absolute;
    top: 20px;
    right: 36px;
    filter: brightness(100%);
}
.head-button__two {
    min-height: 103px;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    background-color: $dark-cyan;
}

.head-but {
    display: block;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 19px;
    color: rgb(250, 250, 250);
    padding-left: 30px;
    line-height: 24px;
    padding-top: 30px;
    width: 100%;
    min-height: 103px;
}
.container {
    position: relative;
    &::before {
        @include zigzag;
        height: 24px;
        top: -24px;
        
        // bottom: 500px;
        background-image: url("../../img/bg-zigzag-fill.svg");
        transform: none;
        z-index: 66;
        width: 320px;

        background-color: transparent;
    }
}

@media (min-width: 788px) {
    .main-header {
        min-height: 835px;
        margin: 0 auto;
        background-color: #f9f9f9;
        max-width: 767px;
    }
    .site-description {
        min-height: 700px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        background-image: url(../../img/hero-desktop.png);
        border: none;
    }
    .site-description__title {
        display: block;
        margin: 0 auto;
        font-size: 43px;
        line-height: 50px;
        margin-top: 162px;
        padding-top: 0px;
        width: 500px;
    }
    .head-buttons-wrapper {
        margin-top: 0;
        width: 668px;
        height: 114px;
        background-color: transparent;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: row;

        &::before {
            @include zigzag;
            height: 22px;
            bottom: -2px;
            right: 0;
            background-image: url("../../img/bg-zigzag-fill.svg");
            transform: none;
            z-index: 22;
            // width: 768px;
            // left: -1px;
        }
        .head-button__one {
            &:hover {
                top: -5px;
            }
        }
        .head-button__two {
            &:hover {
                top: -5px;
            }
        }
    }
}

@media (min-width: 1270px) {
    .main-header {
        min-height: 835px;
        margin: 0 auto;
        background-color: #f9f9f9;
        max-width:1250px;
    }
    .site-description {
        min-height: 700px;
        width: 100%;
        background-color: #f9f9f9;
        background-image: url(../../img/hero-desktop.png);
    }
    .head-buttons-wrapper {
        width: 1050px;
        height: 119px;
        background-color: #ffffff;

        &::before {
            @include zigzag;
            height: 24px;
            bottom: 0px;
            background-image: url("../../img/bg-zigzag-fill.svg");
            transform: none;
            z-index: 22;
            width: 100%;
            display: none;
        }
    }
}
.container {
    position: relative;
    &::before {
        @include zigzag;
        height: 24px;
        top: -24px;
        
        // bottom: 500px;
        background-image: url("../../img/bg-zigzag-fill.svg");
        transform: none;
        z-index: 66;
        width: 100%;

        background-color: transparent;
    }
}

