.main-nav {
    display: flex;
    min-height: 80px;
    // flex-shrink: 0;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 320px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:0 auto;
    padding: 0;
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.main-nav__item {
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    height: 79px;  
    background-color: rgb(255, 255, 255); 
    border-bottom: 1px solid #ececec; 
    margin: 0;
    padding: 0;
    &:nth-child(1) {
        border:none;
    }
    // &,.main-nav__item--tablet {
    //     display: none;
    // }
    &:hover {
        background-color: #fafdfa;
    }
}
.main-nav__link {
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #000000;
    margin-left: 75px;
    width: 100%;
    height: 100%;
    // margin-top: 32px;
    &:hover {
        color: #8d8d8d;
    }
    &:active {
        color: #cacaca;
    }
}

.main-nav__logo {
    padding-top: 21px;
    padding-bottom: 21px;
    // margin: 110px;
    margin-left: 110px;
    width: 86px;
    height: 35px;

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.4;
  }
}

.button {
    height: 38px;
    width: 38px;
    position: absolute;
    top:20px;
    right: 32px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    &::before {
        content: "";

        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #000000;
        right: 9px;
        top:9px;
        border-bottom: 1px solid #000000;
        box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
    }
}

@media (max-width: 787px) {
    .main-nav--closed {
        z-index: 4;
    }
    .main-nav--closed .main-nav__item {
        display: none;
    }
    .main-nav__item.active {
        display: block;
        padding-top: 22px;
        &:nth-child(1) {
            padding-top: 0px;
        }
    }
    .main-nav--opened .main-nav__item {
        display: block;
        padding-top: 22px;
    }
    .main-nav--opened .button {
        &::before,
        &::after {
            content: "";

            position: absolute;
            top: 17px;
            right: 6px;
            width: 25px;
            height: 2px;
            background-color: #000000;
        }
        &::before {
            transform: rotate(45deg);
            box-shadow: none;
            height: 2px;
        }
        
    }
    .main-nav--opened .button::after {
        transform: rotate(-45deg);
        box-shadow: none;
        height: 3px;
    }
    .main-nav__item.main-nav__item--mobile-closed {
        display: none;
    }
    .main-nav__item.main-nav__item--tablet-open {
        display: none;
    }
}

.main-nav__icon--search {
    position: absolute;
    left: 30px;
    padding: 0;
    margin: 0;
    top: 264px;
}

.main-nav__icon--shop {
    position: absolute;
    left: 30px;
    padding: 0;
    margin: 0;
    top: 342px;
}

@media (min-width: 788px) {
    .main-nav {
        // display: block;
        // position: relative;
        max-height: 88px;
        flex-direction: column;
        // min-width: 767px;
        width: 100%;
        justify-content: flex-start;
        align-content: flex-start;
        padding: 0;
        background-color: rgb(255, 255, 255);
        margin: 0;
        box-sizing: border-box;
    }
    .main-nav__list {
        flex-direction: row;
        position: relative;
        display: flex;
        margin: 0;
        max-width: 768px;
        flex-wrap: wrap;
    }

    .main-nav__link {
        // height: auto;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        height: 90px;
    }

    .main-nav__item {
        display: block;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #ececec;
        &:hover {
            background-color: transparent;
        }
        &:nth-child(1) {
            order: 0;
            
            max-height: 88px;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            padding-top: 22px;
            border-bottom: 1px solid #ececec;
            
            padding-left: 48px;
            padding-right: 210px;
            border-right: 1px solid #ececec;
            border-left: 1px solid #ececec;
            & .main-nav__logo {
                background-color: transparent;
            }
    
        }
        &:nth-child(2) {
            order: 3;

            background-color: transparent;
            height: auto;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            margin-top: 24px;
            margin-right: 36px;
            margin-left: 50px;
            border:none;
            & .main-nav__link {
                max-height: 30px;
                line-height: 24px;
                font-size: 15px;
                font-weight: bolder;
            }
        }
        &:nth-child(3) {
            order: 4;

            background-color: transparent;
            height: auto;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            margin-top: 24px;
            border:none;
            & .main-nav__link {
                max-height: 30px;
                line-height: 24px;
                font-size: 15px;
            }
        }
        &:nth-child(4) {
            order: 1;

            min-width: 82px;
            border-right: 1px solid #ececec;
            max-height: 88px;
            margin: 0;
            padding: 0;
            & .main-nav__link {
                background-color: rgb(255, 255, 255);
                box-sizing: border-box;
                // width: 100%;
                max-height: 86px;
                padding: 0;
                padding-left: 15px;
                padding-top: 27px;
            }
        }
        &:nth-child(5) {
            order: 2;

            min-width: 312px;
            right: 0;
            max-height: 88px;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border-right: 1px solid #ececec;
            & .main-nav__link {
                background-color: rgb(255, 255, 255);
                box-sizing: border-box;
                width: 100%;
                padding: 0;
                padding-left: 86px;
                padding-top: 27px;
                max-height: 86px;
            }
        }
        &:nth-child(6) {
            order: 5;
            margin: 0 0 0 auto;
            background-color: transparent;
            border: none;
            padding-top: 24px;
            padding-right: 50px;
        }
        height: auto;
    }

    .main-nav__logo {
        margin: 0;
        padding: 0;
        width: 113px;
        height: 46px;
        padding-top: 0px;
    }
    .button {
        display: none;
    }
    .main-nav__span {
        display: none;
    }
    .main-nav__logo {
        margin: 0;
        padding: 0;
        width: 113px;
        height: 46px;
        padding-top: 0px;
    }
    .main-nav__item.main-nav__item--mobile-closed {
        display: none;
    }
    .main-nav__item.main-nav__item--tablet-open {
        display: block;
    }
}

.main-nav__icon--search {
    display: none;
}
.main-nav__icon--shop {
    display: none;
}
@media (min-width: 1270px) {
    .main-nav {
        width: 1250px;
        margin: 0;
        padding: 0;
        height: 88px;
    }
    .main-nav__list {
        max-width: 1250px;
        display: flex;
        position: relative;
        justify-content: space-between;
        max-height: 88px;
        flex-wrap: nowrap;
        border-bottom: 1px solid #ececec;
        border-left: 1px solid #ececec;
    }
    
    .main-nav__item {
        display: block;
        margin: 0;
        padding: 0;
        &:nth-child(1) {
            order: 2;
            
            max-height: 88px;
            box-sizing: border-box;
            max-width: 300px;
            margin: 0;
            padding: 0;
            padding-top: 9px;
            padding-left: 77px;
            padding-right: 210px;
            border-right: 1px solid #ececec;
            border-left: none;
            border-bottom: none;
            &:hover {
                background-color: transparent;
            }
            & .main-nav__logo {
                background-color: transparent;
            }
    
        }
        &:nth-child(2) {
            order: 0;
    
            background-color: transparent;
            height: 88px;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            // margin-top: 24px;
            // margin-right: 36px;
            padding-left: 50px;
            border-right: 1px solid #ececec;
            padding-right: 30px;
            // border-bottom: 1px solid #ececec;
            // background-color: red;
            & .main-nav__link {
                max-height: 30px;
                line-height: 24px;
                font-size: 17px;
                font-weight: bolder;
                margin-top: 31px;
            }
        }
        &:nth-child(3) {
            order: 1;
    
            background-color: transparent;
            height: auto;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            // margin-top: 31px;
            border:none;
            // border-bottom: 1px solid #ececec;
            & .main-nav__link {
                max-height: 30px;
                line-height: 24px;
                font-size: 17px;
                background-color: transparent;
                margin-top:31px;
            }
        }
        &:nth-child(4) {
            order: 3;
    
            // min-width: 82px;
            border-right: 1px solid #ececec;
            height: auto;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            // padding-top: 31px;   
            padding-right: 15px;
            border-bottom: none;
            &:hover {
                background-color: transparent;
            }
            & .main-nav__link {
                height: auto;
                line-height: 24px;
                font-size: 17px;
                font-weight: bolder;
                margin-top: 31px;
                padding: 0;
                // background-color:green;
            }
        }
        &:nth-child(5) {
            order: 4;

            right: 0;
            height: auto;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border-right: 1px solid #ececec;
            padding-right: 50px;
            border-bottom: none;
            &:hover {
                background-color: transparent;
            }
            & .main-nav__link {
                // background-color: rgb(107, 221, 206);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: auto;
                // width: 100%;
                line-height: 24px;
                font-size: 17px;
                font-weight: bolder;
                margin: 0 auto;
                margin-top: 31px;
                padding: 0;
            }
        }
        &:nth-child(6) {
            order: 7;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 113px;
            right: 50px;
        }
        &:nth-child(7) {
            order: 5;
            position: absolute;
            top: 113px;
            left: 1px;
            background-color: transparent;
            border: none;
        }
        &:nth-child(8) {
            order: 6;
            position: absolute;
            top: 113px;
            left: 270px;
            background-color: transparent;
            border: none;
        }
        height: auto;
    }
    .navbar__menu-caption {
        color:#000000;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        margin-left: 48px;
    }
    .main-nav__logo {
        margin: 0;
        padding: 0;
        width: 149px;
        height: 72px;
        padding-top: 0px;
    }
    .main-nav__item.main-nav__item--tablet-open {
        display: block;
    }
    .main-nav__item.main-nav__item--mobile-closed {
        display: block;
    }
}


