.main-footer {
    display: flex;
    min-height: 160px;
    // flex-shrink: 0;
    position: relative;
    background-color: #f2f2f2;
    width: 320px;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0 auto;
    padding: 0;
}
.main-footer__logo {
    display: none;
    height: 80px;

    background-color: red;
    width: 100%;
}
.main-footer__soc {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 auto;
    width: 260px;
    border-bottom: 1px solid #e5e5e5;
    & a {
        width: auto;
        height: 22px;
        display: block;
        margin: auto 0;
        margin-right: 40px;
        &:nth-child(3) {
            margin-right: 0;
        }
    }
    & img {
        margin: 0 auto;
        // display: block;
    }
}
.main-footer__develop {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    width: 260px;
}
.main-footer__psd-author {
    margin-right: 30px;

    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
}

@media (min-width: 788px) {
    .main-footer {
        display: flex;
        height: 140px;
        box-sizing: border-box;
        // flex-shrink: 0;
        position: relative;
        background-color: #f1f1f1;
        width: 768px;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
        margin:0 auto;
        padding: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 40px;
    }
    .main-footer__logo {
        display: block;
        height: 80px;
    
        width: 185px;
        box-sizing: border-box;
        background-color: transparent;
        // margin-right: 110px;
        & a {
            display: block;
            padding: 0;
            margin:0 auto;
            margin-top: 21px;
            width: max-content;
        }
    }
    .main-footer__icon {
        &:hover {
            fill: #63d1bb;
        }
    }
    .main-footer__logo-image {
        margin: 0 auto;
    }
    .main-footer__soc {
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        margin: 0;
        width: auto;
        border-bottom: 1px solid #e5e5e5;
        border: none;
        & a {
            width: auto;
            height: 22px;
            display: block;
            margin: auto 0;
            margin-right: 40px;
            &:nth-child(3) {
                margin-right: 0;
            }
        }
        & img {
            margin: 0 auto;
            // display: block;
        }
    }
    .main-footer__develop {
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        margin: 0;
        width: auto;
        background-color: transparent;
        padding: 0;
    }
    .main-footer__psd-author {
        display: block;
        margin: 0;
        margin-right: 30px;
    
        font-size: 19px;
        line-height: 19px;
        font-weight: bold;
        color: #000000;
    }
}

@media (min-width: 1270px) {
    .main-footer {
        display: flex;
        height: 140px;
        box-sizing: border-box;
        // flex-shrink: 0;
        position: relative;
        background-color: #f1f1f1;
        width: 1250px;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
        margin:0 auto;
        padding: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 40px;
    }
}