.main-header.main-header--white {
    position: relative;
    background-color: #f9f9f9;
    min-height: auto;
}

.page-name {
    // position: relative;
    margin: 0;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    padding: 0;
    padding-top: 0;
    align-content: center;
    width: 320px;
    height: 176px;
    border: none;
    background-color: #f1f1f1;
    
}
.page-name__title {
    margin: 0;
    margin: auto auto;
    width: max-content;
    line-height:30px;
    font-weight: bold;
    color: #000000;
}
.cont {
    margin: 0;
    padding: 0;
}
.main-goods {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    
}
.main-goods__product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 260px;
    min-height: 375px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #ededed;
}
.main-goods__picture {
    box-sizing: border-box;
    width: 260px;
    height: 195px;
    background-color: #e4e4e4;
    margin: 0;
}
.main-goods__description {
    box-sizing: border-box;
    min-height: 178px;
    max-width: 100%;
    padding-left:30px ;
    padding-right: 30px;
    // padding-top:30px;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    &:hover {
        box-shadow: 0px 9px 32px -13px $grey;
        border: none;
    }
}
.main-goods__one {
    margin: 0;
    box-sizing: border-box;
}
.main-goods__name {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    background-color: transparent;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
}
.main-goods__properties {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 30px;

}
.main-two {
    margin: 0;
    position: relative;
    height: 74px;
    width: 206px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ededed;
}
.main-goods__price {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
}
.main-goods__icon {
    position: absolute;
    top: 26px;
    left: 180px;
    width: 21px;
    height: 19px;
    &:hover path {
        fill: $cyan;
      }
}
.main-goods__process {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;

    width: 260px;
    min-height: 375px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #ededed;
}
.main-goods__camera-picture {
    width: 32px;
    height: 22px;
    position: absolute;
    top: 15px;
    left: -60px;
}
.process__title {
    width: auto;
    margin-left: 90px;
    font-weight: bold;
    position: relative;
    font-size: 17px;
    line-height: 24px;
}
.process__picture {
    box-sizing: border-box;
    width: 260px;
    height: 150px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.process__photo {
    width: 258px;
    height: 150px;
    padding: 0;
}
.process__description {
    margin: 0;
    // align-content: center;
    &:hover {
        box-shadow: 0px 16px 32px -13px #000000;
        border: none;
    }
}
.process__text {
    margin: 0;
    display: block;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 0;
    font-size: 13px;
    line-height: 30px;
}
.process__button {
    @include button();
    display: block;
    width: 192px;
    margin: 0 auto;
    margin-bottom: 30px;
    &:hover {
        background-color: $grey;
        color: #ffffff;
    }
    &:active {
        color: #686868;
    }
}

@media (min-width: 788px) {
    .page-name {
        width: 768px;
    }
    .main-goods {
        position: relative;
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 0;
        &::before {
            @include zigzag;
            height: 24px;
            top: -24px;
            
            // bottom: 500px;
            background-image: url("../../img/bg-zigzag-fill.svg");
            transform: none;
            z-index: 120;
            width: 100%;
    
            background-color: transparent;
        }
    }
    .page-name {
        
    }
    .main-goods__product {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        // justify-content: stretch;
    
        box-sizing: border-box;
        width: 668px;
        min-height: 336px;
        margin-bottom: 30px;
    }
    .main-goods__camera-picture {
        width: 32px;
        height: 22px;
        position: absolute;
        top: 0px;
        left: -60px;
    }
    .main-goods__picture {
        box-sizing: border-box;
        width: 334px;
        height: 334px;
        margin: 0;
    }
    .main-goods__photo {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 334px;
        height: 334px;
    }
    .main-goods__description {
        height: 334px;
        width: 100%;
        margin: 0;
    }
    .main-goods__one {
        margin: 0;
        box-sizing: border-box;
    }
    .main-goods__name {
        margin: 0;
        margin-top: 30px;
        padding: 0;
        background-color: transparent;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
    }
    .main-goods__properties {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 15px;
        line-height: 30px;
    
    }
    .main-two {
        margin: 0;
        height: 74px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .main-goods__price {
        margin: 0;
        padding: 0;
        font-size: 17px;
        line-height: 24px;
        font-weight: bold;
    }
    .main-goods__process {
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    
        width: 100%;
        min-height: 375px;
        margin-bottom: 30px;
        box-sizing: border-box;
        border: 1px solid #ededed;
    }
    .process__title {
        display: flex;
        width: auto;
        margin-left: 90px;
        order: 1;
        font-size: 20px;
        line-height: 24px;
    }
    .process__picture {
        box-sizing: border-box;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        // margin-bottom: 30px;
        order: 0;
    }
    .process__photo {
        width: auto;
        height: auto;
        padding: 0;
    }
    .process__description {
        // margin: 5;
        order: 2;
        // align-content: center;
    }
    .process__text {
        margin: 0;
        display: block;
        margin: 0;
        margin-left: 30px;
        margin-bottom: 30px;
        padding: 0;
        font-size: 15px;
        line-height: 30px;
        order: 4;
    }
    .process__button {
        @include button();
        display: block;
        width: 586px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .main-goods__icon {
        position: absolute;
        top: 26px;
        left: 240px;
        width: 21px;
        height: 19px;
    }
}

@media (min-width: 1270px) {
    .page-name {
        width: 1250px;
    }
    .main-goods {
        width: 1250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
        padding-top: 130px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
        &::before {
            display: none;
        }
    }
    .page-name {
        height: 250px;
    }
    .main-goods__product {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
    
        width: 318px;
        height: 660px;
        margin-bottom: 30px;
        box-sizing: border-box;
        
    }
    .main-goods__camera-picture {
        width: 32px;
        height: 22px;
        position: absolute;
        top: -55px;
        left: 0px;
    }
    .main-goods__picture {
        box-sizing: border-box;
        width: 316px;
        height: 462px;
        background-color: blue;
        margin: 0;
    }
    .main-goods__photo {
        width: 316px;
        height: 462px;
    }
    .main-goods__description {
        height: 193px;
        width: 100%;
        margin: 0;
    }
    .main-goods__process {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        width: 100%;
        height: 457px;
        margin-bottom: 30px;
        box-sizing: border-box;
        border: 1px solid #ededed;
    }
    .process__title {
        width: 150px;
        height: 60px;
        margin: 0;
        margin-top: 100px;
    }
    .process__picture {
        order: 0;
        width: 682px;
        height: 455px;
        box-sizing: border-box;
        min-height: 455px;
        
    }
    .process__description {
        order: 2;
        width: 280px;
        height: 210px;
        margin: 0;
        &:hover {
            box-shadow: none;
        }
    }
    .process__button {
        @include button();
        display: block;
        width: 230px;
        margin: 0;
        margin-bottom: 30px;
    }
    .process__text {
        margin-left: 0;
       
    }
    .page-name {
        padding-top: 0;
    }
    .page-name__title {
        margin: 0;
        margin: auto auto;
        width: max-content;
        font-size: 53px;
        line-height:57px;
        font-weight: bold;
        color: #000000;
        
    }
    .main-goods__icon {
        position: absolute;
        top: 26px;
        left: 230px;
        width: 21px;
        height: 19px;
    }
    .container {
        background-color: #ffffff;
     &::before {
        //  display: none;
     }   
    }
}
