.week-product {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    // min-height: 525px;
    width: 320px;
    position: relative;

    background-color: #ffffff;
    // border: 1px solid black;
    &::before {
        @include small-zigzag;
        // width: 100%;
        bottom: -4px;
        left: 0;
        padding: 0;
        margin: 0;
        transform: none;
        z-index: 44;
        background-image: url("../../img/bg-zigzag-line.svg");
        // height: 
        width: 100%;
    }
}

.week-product__name {
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    width:100%;
    // background-color: red;
}
.week-product__title {
    margin: 0;

    color: #000000;
    font-size: 25px;
    line-height: 30px;
}
.week-product__title--cyan {
    color: $cyan;

    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    
    margin-top: 3px;
}

.week-product__description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    height: 255px;
    margin: 0 auto;
    margin-bottom: 30px;
    width:100%;
    background-color:rgb(255, 255, 255);
    padding: 0;
}
.week-product__text {
    margin: 0;
    margin-bottom: 55px;

    font-size: 16px;
    line-height: 24px;
    width: 100%;

    color: $grey;
}
.week-product__properties {
    display: flex;
    flex-direction: column  ;
    
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: transparent;
    font-size: 15px;
    line-height: 24px;
}
.week-product__properties--two {
    width: 160px;
    
    font-size: 15px;
    line-height: 24px;
    color: $grey;
    background-color: transparent;
    white-space: nowrap;
}
.week-product__properties-item {
    // background-color: red;

    list-style: none;
    border-bottom: 1px solid #ececec;
    width: 100%;
    display: block;
}
.week-product__properties-item-two {
    margin-right: auto;
}

.week-product__picture {
    height: 315px;
    margin: 0 auto;
    margin-bottom: 30px;

    width:100%;
    padding: 0;
    background-color: rgba(2, 226, 21, 0.884);
}
.week-product__picture-item {
    height: 315px;
    width: 260px;


}
.week-product__buy {
    height: 100px;
    margin: 0 auto;
    width:100%;
    padding: 0;
    // position: relative;
}
.week-product__price {
    display: block;
    margin:0 auto;
    margin-bottom: 30px;
    text-align: center;

    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
}
.week-product__button {
    @include button()
    &:hover {
        background-color: $grey;
        color: #ffffff;
    }
    &:active {
        color: #686868;
    }
}

@media (min-width: 788px) {
    .week-product {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 40px;
        width: 768px;
        background-color: #ffffff;
        &::before {
            @include small-zigzag;
            position: absolute;
            width: 768px;
            height: 15px;
            bottom: -7px;
            left: 0;
            padding: 0;
            margin: 0;
            transform: none;
            z-index: 45;
            background-image: url("../../img/bg-zigzag-line.svg");
            width: 100%;
        }
    }
    .week-product__name {
        display: flex;
        justify-content: space-between;
        order: 0;

        height: auto;
        margin: 0 auto;
        margin-bottom: 55px;
        padding: 0;
        width:100%;
    }
    .week-product__title {
        margin: 0;
    
        color: #000000;
        font-size: 43px;
        line-height: 50px;
    }
    .week-product__title--cyan {
        color: $cyan;

        display: block;
        width: 100px;
        text-align: center;
    
        font-size: 17px;
        line-height: 17px;
        text-transform: uppercase;
        
        margin-top: 3px;
    }
    .week-product__description {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        
        height: 240px;
        margin-bottom: 30px;
        width:280px;
        padding: 0;
    }

    .week-product__picture {
        height: 404px;
        margin: 0;
        margin-bottom: 30px;
    
        width:333px;
        padding: 0;
    }
    .week-product__picture-item {
        height: 404px;
        width: 333px;
    }
    .week-product__buy {
        height: 100px;
        width:293px;
        padding: 0;
        margin-left: 0;
        margin-top: -136px
    }
    .week-product__price {
        display: block;
        margin:0 auto;
        margin-bottom: 30px;
        text-align: center;
    
        font-size: 17px;
        line-height: 24px;
        font-weight: bold;
    }
    .week-product__button {
        @include button();
    }
}


@media (min-width: 1270px) {
    .week-product {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;

        padding-left: 270px;
        padding-right: 100px;
        padding-top: 72px;
        padding-bottom: 40px;
        width: 1250px;
    
        background-color: #ffffff;
        &::before {
            @include small-zigzag;
            position: absolute;
            width: 1250px;
            height: 28px;
            bottom: 0px;
            left: 0;
            padding: 0;
            margin: 0;
            transform: none;
            z-index: 115;
            background-image: url("../../img/bg-zigzag-line.svg");
        }
    }
    .week-product__name {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        order: 0;
        position: relative;

        // top: 120px;
        // left: 255px;
        margin: 0;
        margin-top: 60px;
        white-space: nowrap;
        z-index: 3;
        // margin-bottom: 55px;
        padding: 0;
        width: 300px;
        max-height: 60px;
    }
    .week-product__title {
        margin: 0;
    
        color: #000000;
        font-size: 53px;
        line-height: 57px;
    }
    .week-product__title--cyan {
        color: $cyan;

        width: 100px;
        margin: 0;
        margin-top: 12px;
        white-space: normal;
        position: absolute;
    
        left: -150px;
        font-size: 17px;
        line-height: 17px;
        text-transform: uppercase;
    }
    .week-product__description {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        order: 2;
        
        height: 240px;
        margin-bottom: 30px;
        width:280px;
        padding: 0;
        margin-top: -500px; 
    }

    .week-product__picture {
        height: 636px;
        margin: 0;
        margin-bottom: 30px;
        order: 1;
    
        width:525px;
        padding: 0;
    }
    .week-product__picture-item {
        height: 636px;
        width: 525px;
    }
    .week-product__buy {
        height: 100px;
        width:293px;
        padding: 0;
        margin: 0;
        // margin-left: 0;
        // margin-top: -136px;
        order: 3;
        position: absolute;
        // bottom: auto;
        top: 603px;
        left: auto;
    }
    .week-product__price {
        display: block;
        margin:0 auto;
        margin-bottom: 30px;
        text-align: center;
    
        font-size: 17px;
        line-height: 24px;
        font-weight: bold;
    }
    .week-product__button {
        @include button();
        &:hover {
            background-color: $grey;
            color: #ffffff;
        }
        &:active {
            color: #686868;
        }
    }
}